<div class="container">

  <div *ngIf="sucess">
    <div id="messageBox" class="alert alert-success animated " role="alert">
      {{sucessMessage}}
    </div>
  </div>

  <form [formGroup]="productForm">
    <div class="row">
      <div class="col-sm-9">
        <div class="row mb-3">
          <div class="col-sm-2 ">
            <label for="Mail_Invitation"
              class=" text-left mt-3 pl-4">{{ 'userPreferences.MailInvitationTemplate' | translate }}</label>
          </div>
          <div class="col-sm-10 col">
            <angular-editor type="text" id="Mail_Invitation" [config]="editorConfig" mdbInput
              formControlName="mailInvitationTemplate"></angular-editor>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-sm-2 ">
            <label for="Survey_Completion"
              class="col-form-label">{{ 'userPreferences.SurveyCompletion' | translate }}</label>
          </div>
          <div class="col-sm-10">
            <angular-editor type="text" id="Survey_Completion" [config]="editorConfig" mdbInput
              formControlName="mailSurveyCompletion"></angular-editor>
          </div>
        </div>
      </div>
      <div class="col-sm-3 form-group text-center">
        <div class="img-box">
          <div class="logoImg">
            <img *ngIf="url" [src]="url" alt="">
            <p *ngIf="!url">{{ 'userPreferences.Upload' | translate }} </p>
          </div>
        </div>
        <button type="button" mdbBtn color="primary" class="waves-light" data-toggle="modal" data-target="#basicExample"
          (click)="frame.show()" mdbWavesEffect>{{ 'userPreferences.Upload' | translate }}</button>
        <div mdbModal #frame="mdbModal" class="modal fade right" id="frameModalTop" tabindex="-1" role="dialog"
          aria-labelledby="myModalLabel" aria-hidden="true" [config]="{backdrop: false, ignoreBackdropClick: true}">
          <div class="modal-dialog modal-full-height modal-right modal-notify modal-info" role="document">
            <div class="modal-content">
              <!--Header-->
              <div class="modal-header">
                <p class="heading lead">{{ 'userPreferences.UploadPicture' | translate }}
                </p>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
                  <span aria-hidden="true" class="white-text">×</span>
                </button>
              </div>
              <!--Body-->
              <div class="modal-body">
                <div class="logoImg text-center">
                  <img *ngIf="url" [src]="url" width="200" height="200" alt="">
                  <p *ngIf="!url">{{ 'userPreferences.uploadLogo' | translate }}</p>
                </div>
                <div class="col-sm-6 col-xs-12 text-justify">
                  <label class=" text-left ">{{ 'userPreferences.Position' | translate }}</label>
                  <select class="browser-default custom-select" formControlName="logoPosition" name="logoPosition">
                    <option value="-webkit-left">{{ 'userPreferences.Left' | translate }}</option>
                    <option value="-webkit-center">{{ 'userPreferences.center' | translate }}</option>
                    <option value="-webkit-right">{{ 'userPreferences.right' | translate }}</option>
                  </select>
                </div>
              </div>
              <!--Footer-->
              <div class="modal-footer justify-content-center">
                <a type="button" mdbBtn color="primary" class="waves-light"
                  mdbWavesEffect>{{ 'userPreferences.Upload' | translate }}
                  <mdb-icon fas icon="arrow-circle-up" class="ml-1"></mdb-icon>
                  <input type="file" mdbFileSelect (change)="onSelectFile($event)">
                </a>
                <a type="button" mdbBtn color="primary" outline="true" class="waves-effect" data-dismiss="modal"
                  mdbWavesEffect (click)="frame.hide()">{{ 'userPreferences.Cancel' | translate }}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!---- Start Add user groups -->
    <div class=" col col-sm-12 documentation">
      <div class="row">
        <div class="col col-md-8">
          <h3 class=" font-weight-normal">{{ 'userPreferences.YourGroups' | translate }}</h3>
        </div>
        <div class="col">
          <button class="btn btn-md btn-primary" type="button"
            (click)="addNewGroup()">{{ 'userPreferences.AddGroup' | translate }}</button>
        </div>
        <div class="col-sm-12" *ngIf="!submitted">
          <div class="alert alert-danger" role="alert">
            {{ 'userPreferences.Pleasecompleteformfeilds' | translate }}
          </div>
        </div>
      </div>
      <div class="" formArrayName="userGroups">
        <mdb-accordion [multiple]="false" aria-multiselectable="true"
          *ngFor="let group of productForm['controls']['userGroups']['controls']; let groupIndex=index">
          <mdb-accordion-item [collapsed]="true" [formGroupName]="groupIndex">
            <mdb-accordion-item-head>
              <div class="groupBox">
                <div class="row">
                  <div class="col-sm-4">
                    <label class="text-center" for="form1"
                      class="">{{ 'userPreferences.GroupName' | translate }}</label>
                  </div>
                  <div class="input-group col-sm-6">
                    <input mdbInput type="text" class="form-control" formControlName="name" required>
                  </div>
                  <div class="col-sm-2">
                    <!-- <span>
                                  <i class="fas fa-angle-up"></i>
                              </span> -->
                  </div>
                </div>
              </div>
            </mdb-accordion-item-head>
            <mdb-accordion-item-body>
              <div class="table-responsive usersTable" formArrayName="invitedUsers">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">{{ 'userPreferences.firstName' | translate }} </th>
                      <th scope="col">{{ 'userPreferences.MidName' | translate }} </th>
                      <th scope="col">{{ 'userPreferences.LastName' | translate }}</th>
                      <th scope="col">{{ 'userPreferences.Email' | translate }} </th>
                      <th scope="col">{{ 'userPreferences.Password' | translate }} </th>
                      <th scope="col">{{ 'userPreferences.Options' | translate }} </th>
                    </tr>
                  </thead>
                  <tbody class="user_body">
                    <tr *ngFor="let user of group.get('invitedUsers')?.controls; let userIndex=index"
                      [formGroupName]="userIndex">
                      <th scope="row"> {{userIndex +1}}</th>
                      <td>
                        <div class="input-group">
                          <input mdbInput type="text" class="form-control" formControlName="firstName"
                            placeholder="First Name" required>
                        </div>
                      </td>
                      <td>
                        <div class="input-group mb-3">
                          <input mdbInput type="text" class="form-control" formControlName="midName"
                            placeholder="Mid Name" required>
                        </div>
                      </td>
                      <td>
                        <div class="input-group mb-3">
                          <input mdbInput type="text" class="form-control" formControlName="lastName"
                            placeholder="last Name" required>
                        </div>
                      </td>
                      <td>
                        <div class="input-group mb-3">
                          <input mdbInput type="text" class="form-control" formControlName="email" placeholder="Email"
                            required>
                        </div>
                      </td>
                      <td>
                        <div class="input-group mb-3">
                          <input mdbInput type="password" class="form-control" formControlName="password"
                            placeholder="password" required>
                        </div>
                      </td>
                      <td>
                        <button class="btn btn-md btn-danger   float-right " aria-label="Close" type="button"
                          (click)="deleteUser(group?.controls.invitedUsers,userIndex)"><span
                            aria-hidden="true">×</span></button>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="7" class="group_btn"><button
                          class=" btn btn-primary full-width no-margin text-center" type="button"
                          (click)="addNewUser(group?.controls.invitedUsers)">{{ 'userPreferences.AddUser' | translate }}</button>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <button class="btn btn-md btn-danger   float-right " aria-label="Close" type="button"
                  (click)="deleteGroup(groupIndex)"><span
                    aria-hidden="true">{{ 'userPreferences.DeleteGroup' | translate }}</span></button>
              </div>
            </mdb-accordion-item-body>
          </mdb-accordion-item>
        </mdb-accordion>
      </div>
    </div>
    <div class="col col-sm-12">
      <button id="formSubmittion" class="float-right text-center" mdbBtn type="button" color="dark-green" mdbWavesEffect
        (click)="sendUserData()">{{ 'userPreferences.Send' | translate }}</button>
    </div>
    <!-- </div> -->
  </form>
</div>