<div>

  <!-- Basic example -->
  <div class="row">
    <div class="col-md-12 mx-auto text-center mt-1">
      <div class="card card-cascade narrower">

        <!--Card image-->
        <div
          class="view view-cascade gradient-card-header blue-gradient narrower py-2 mx-3 mb-3 d-flex justify-content-left align-items-left">

          <h6 class="white-text font-weight-bold text-uppercase mb-0 mr-auto">Cities</h6>
          <a mdbBtn size="sm" color="primary" rounded="true" mdbWavesEffect routerLink="./new">
            <mdb-icon fas icon="plus"></mdb-icon> New City
          </a>
        </div>
        <!--/Card image-->
        <mdb-spinner *ngIf="loading" spinnerColor="blue"></mdb-spinner>
        <div *ngIf="!loading">
          <div class="px-4">

            <!--Table-->
            <table class="table table-hover table-responsive-md mb-0 languagesTable">

              <!--Table head-->
              <thead>
                <tr>
                  <th scope="row">#</th>
                  <th class="th-lg">City Aprv.</th>
                  <th class="th-lg">Country Id</th>
                  <th class="th-lg">Region Code</th>
                  <th class="th-lg">Region Id</th>
                  <th class="th-lg">Currency</th>
                  <th class="th-lg">Currency Aprv.</th>
                  <th class="th-lg">Actions</th>
                </tr>
              </thead>
              <!--Table head-->

              <!--Table body-->
              <tbody *ngIf="!noDataFound">
                <tr *ngFor="let city of cities; let i = index">
                  <th px-3 *ngIf="i >= firstVisibleIndex && i <= lastVisibleIndex" scope="row">{{city.id}}</th>
                  <td *ngIf="i >= firstVisibleIndex && i <= lastVisibleIndex">{{city.cityApp}}</td>
                  <td *ngIf="i >= firstVisibleIndex && i <= lastVisibleIndex">{{city.country.nationalId}}</td>
                  <td *ngIf="i >= firstVisibleIndex && i <= lastVisibleIndex">{{city.country.region.code}}</td>
                  <td *ngIf="i >= firstVisibleIndex && i <= lastVisibleIndex">{{city.country.region.id}}</td>
                  <td *ngIf="i >= firstVisibleIndex && i <= lastVisibleIndex">{{city.country.sysCurrency.currencyName}}
                  </td>
                  <td *ngIf="i >= firstVisibleIndex && i <= lastVisibleIndex">{{city.country.sysCurrency.currencyAppr}}
                  </td>
                  <td *ngIf="i >= firstVisibleIndex && i <= lastVisibleIndex" class="goal-table-actionCol">
                    <a mdbBtn floating="false" size="sm" color="primary" mdbWavesEffect (click)="edit(city)">
                      <mdb-icon fas icon="edit"></mdb-icon>
                    </a>
                    <a mdbBtn floating="true" size="sm" color="danger" mdbWavesEffect (click)="openModal(city)">
                      <mdb-icon fas icon="trash"></mdb-icon>
                    </a>
                  </td>
                </tr>
              </tbody>
              <!--Table body-->
              <div *ngIf="noDataFound">No Data To Display.</div>
            </table>

          </div>

          <hr class="my-0">

          <!--Bottom Table UI-->
          <div class="d-flex justify-content-center">

            <!--Pagination -->
            <nav class="my-4 pt-2">
              <ul class="pagination pagination-circle pg-blue mb-0">

                <!--First-->
                <li class="page-item clearfix d-none d-md-block" (click)="firstPage()"
                  [ngClass]="{disabled: activePage == 1}">
                  <a class="page-link">First</a>
                </li>

                <!--Arrow left-->
                <li class="page-item" (click)="previousPage()" [ngClass]="{disabled: activePage == 1}">
                  <a class="page-link" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                  </a>
                </li>

                <!--Numbers-->
                <li #pages
                  *ngFor="let page of paginator | slice:firstVisiblePaginator:lastVisiblePaginator; let i = index"
                  class="page-item" [ngClass]="{active: i + firstVisiblePaginator + 1 == activePage}">
                  <a class="page-link waves-light" (click)="changePage($event)" mdbWavesEffect>{{page}}</a>
                </li>



                <!--Arrow right-->
                <li class="page-item" (click)="nextPage()" [ngClass]="{disabled: activePage == numberOfPages}">
                  <a class="page-link" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                  </a>
                </li>

                <!--First-->
                <li class="page-item clearfix d-none d-md-block" (click)="lastPage()"
                  [ngClass]="{disabled: activePage == numberOfPages}">
                  <a class="page-link">Last</a>
                </li>

              </ul>
            </nav>
            <!--/Pagination -->

          </div>
          <!--Bottom Table UI-->
        </div>
      </div>
    </div>
  </div>

  <hr class="my-5">
</div>