.blue-gradient {
  background: #303f9f !important;
  color: white;
}
.nav-item {
  a.nav-link:hover {
    color: #ff8700;
  }
}
.custom-select {
  //    background: #007FFF url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right 0.75rem center !important;
  //    color: white;
}

.button-collapse {
  display: block !important;
}
