<mdb-card>
  <mdb-card-body *ngIf="selectedCity">
    <mdb-card-title>
      <h4 class="mb-4">Add City <b>{{ selectedCity.cityApp }}</b></h4>
    </mdb-card-title>
    <mdb-card-text>Fill the below form to add a new city.</mdb-card-text>
    <div class="row">
      <div class="col-md-4">
        <div class="md-form ml-0 mr-0 mt-3 mb-3">
          <input mdbInput type="text" name="cityApp" [(ngModel)]="selectedCity.cityApp" class="form-control" />
          <label for="form1" class="">City Apprv</label>
        </div>
      </div>

      <div class=" col-md-4 mt-3">
        <div class=" ml-0">
          <mdb-select [options]="countryList" (ngModelChange)="getSelectedCountry($event)"
            [(ngModel)]="selectedCity.country.id" placeholder="Select Country"></mdb-select>
          <label for="form1" class="">Country</label>
        </div>
      </div>
      <!-- <div class=" col-md-4 mt-3">
        <div class=" ml-0">
          <mdb-select
            [options]="currencyList"
            (ngModelChange)="getSelectedCurrency($event)"
            [(ngModel)]="selectedCurrency"
            placeholder="Select Currency"
          ></mdb-select>
          <label for="form1" class="">Currency</label>
        </div>
      </div> -->
    </div>

    <div class="row mt-4">
      <button (click)="cancel()" mdbBtn class="grey btn-md" rounded="true">
        Cancel
      </button>
      <button (click)="saveCity()" mdbBtn gradient="blue" class="btn-md" rounded="true">
        Save <span *ngIf="saveloading">... </span>
      </button>
    </div>
  </mdb-card-body>
</mdb-card>

<hr class="my-5" />