<div class="row">
  <div class="col-sm-12">
    <div class="builder-designer">
      <app-builder-header></app-builder-header>
      <div class="page-content row">
        <div class="col-sm-12">
          <div class="col-sm-3">
            <app-builder-tool-box [surveyId]="id"></app-builder-tool-box>
          </div>
          <div class="col-sm-6">
            <app-builder-sketch-page [surveyId]="id"></app-builder-sketch-page>
          </div>
          <div class="col-sm-3">
            <app-builder-settings [surveyId]="id"></app-builder-settings>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>